<div class="page-header">
    <h1 class="title">Details actie</h1>
    <ol class="breadcrumb">
        <li><a href="#/acties">Acties</a></li>
        <li class="active">{{selectedAction.Info.name | limitTo: 50 }}{{selectedAction.Info.name.length > 50 ? "..." : ""}}</li>
    </ol>
    <div class="right">
        <div class="btn-group small-control-mr" role="group" aria-label="...">
            <a href="{{'#/acties/' + selectedAction.Info.actions_id + '/subacties/nieuw'}}" class="btn btn-light"><i class="fa fa-pencil"></i>Nieuwe vervolgactie</a>
        </div>
    </div>
</div>

<div class="container-default">
    <div class="panel">
        <div class="panel-title">
            <div ng-if="selectedAction.Info.customers_name">
                <div><span class="text-capitalize">Bedrijfsnaam: </span>{{selectedAction.Info.customers_name}}</div>
            </div>
        </div>
        <div class="panel-body">
            <ul class="basic-list">
                <li>
                    <div class="row color4-bg padding-20 margin-0">
                        <div class="right z-index">
                            <div class="btn-group small-control-mr" role="group" aria-label="...">
                                <a href="#/acties/bewerken/{{selectedAction.Info.customers_id}}" class="btn btn-light"><i class="fa fa-pencil"></i>Bewerken</a>
                            </div>
                        </div>
                        <one-action selected-attachments="selectedActionAttachments" action="selectedAction.Info"></one-action>
                    </div>
                </li>
                <li ng-repeat="subaction in selectedAction.Subactions | orderBy: 'date_create'">
                    <div class="row padding-20 margin-0">
                        <div class="right z-index">
                            <div class="btn-group small-control-mr" role="group" aria-label="...">
                                <a href="#/acties/{{selectedAction.Info.customers_id}}/subacties/bewerken/{{subaction.sub_id}}" class="btn btn-light"><i class="fa fa-pencil"></i>Bewerken</a>
                            </div>
                        </div>
                        <one-action selected-attachments="selectedActionAttachments" action="subaction"></one-action>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<modal></modal>