<div class="page-header">
    <h1 class="title">Details actie</h1>
    <ol class="breadcrumb">
        <li><a href="#/acties">Acties</a></li>
        <li class="active">{{selectedAction.Info.name | limitTo: 50 }}{{selectedAction.Info.name.length > 50 ? "..." : ""}}</li>
    </ol>
    <div class="right">
        <div class="btn-group small-control-mr" role="group" aria-label="...">
            <a href="#/acties/bewerken/{{selectedAction.Info.customers_id}}" class="btn btn-light"><i class="fa fa-pencil"></i>Bewerken</a>
        </div>
    </div>
</div>

<div class="container-default">
    <div class="panel">
        <div class="panel-title">
            <div ng-if="selectedAction.Info.customers_name">
                <div>{{selectedAction.Info.customers_name}}</div>
            </div>
        </div>
        <div class="panel-body">
            <ul class="basic-list">
                <li>
                    <div class="row color4-bg padding-20 margin-0">
                        <one-action selected-attachments="selectedActionAttachments" action="selectedAction.Info"></one-action>
                    </div>
                </li>
                <li ng-repeat="subaction in selectedAction.Subactions">
                    <div class="row padding-20 margin-0">
                        <one-action selected-attachments="selectedActionAttachments" action="subaction"></one-action>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" ng-class="pdfSource ? 'modal-lg': '';">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{filename}}</h4>
            </div>
            <div class="modal-body">
                <iframe ng-if="pdfSource" class="pdfAttach" ng-src="{{pdfSource}}"></iframe>
                <img ng-if="imgSource" class="imgAttach" ng-src="{{imgSource}}"/>
            </div>

        </div>
    </div>
</div>