<div class="page-header">
    <h1 class="title">Overzicht acties</h1>

    <!-- Start Page Header Right Div -->
    <div class="right">
        <div class="btn-group" role="group" aria-label="...">
            <div class="input-prepend input-group small-control-w small-control-mr" ng-controller="DatePickerController as datePickerCtrl">
                <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" id="date-picker" class="form-control active" placeholder="Spring naar datum..." ng-model="jumpdate" ng-change="jumpToDate()">
            </div>
        </div>
    </div>
</div>

<div class="container-default">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-title">
                Kalender<br>
                <div>
                    <span class="label margin-r-5 color10-bg">Reminder</span>
                    <span class="label margin-r-5 color9-bg">Afspraak</span>
                </div>
            </div>
            <ul class="panel-tools">
                <a href="#/acties/nieuw" class="btn btn-light"><i class="fa fa-plus"></i>Nieuwe actie</a>
            </ul>
            <div class="panel-body">
                <div id='calendar'></div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="lib/date-range-picker/daterangepicker.js"></script>
<script type="text/javascript" src="lib/full-calendar/fullcalendar.js"></script>
<script type="text/javascript" src="lib/full-calendar/fullcalendar-lang-nl.js"></script>
