<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" ng-class="pdfSource ? 'modal-lg': '';">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{filename}}</h4>
            </div>
            <div class="modal-body">
                <iframe ng-if="pdfSource" class="pdfAttach" ng-src="{{pdfSource}}"></iframe>
                <img ng-if="imgSource" class="imgAttach" ng-src="{{imgSource}}"/>
            </div>

        </div>
    </div>
</div>