<form name="newActionForm" ng-submit="newActionForm.$valid && submitForm()" novalidate>
    <div class="page-header">
        <h1 class="title">Nieuwe actie</h1>
        <ol class="breadcrumb">
            <li><a href="#/acties">Acties</a></li>
            <li class="active">Nieuwe actie</li>
        </ol>
        <div class="right">
            <div class="btn-group small-control-mr" role="group" aria-label="...">
                <button type="submit" class="btn btn-light"><i class="fa fa-save"></i>Opslaan</button>
            </div>
        </div>
    </div>

    <div class="container-default">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-7">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div ng-controller="TypeaheadController as typeaheadCtrl">
                                    <label for="companyname" class="col-sm-2 control-label form-label">Bedrijfsnaam</label>

                                    <div class="col-sm-10">
                                        <input type="text" id="companyname" ng-model="selectedCompany" class="form-control"
                                               ng-change="uploader.formData = [{customersId : (selectedCompany.Info.id == null ? 0 : selectedCompany.Info.id)}];"
                                               typeahead-editable="false" typeahead-on-select="onSelect($item, $model, $label)"
                                               typeahead="customer as customer.Info.name for customer in customers | filter:$viewValue | limitTo:8">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="type" class="col-sm-2 control-label form-label">Type actie</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="type" name="type">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label form-label">Omschrijving</label>

                                <div class="col-sm-10">
                                    <textarea id="description" class="form-control disable-width-resize" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <div class="checkbox checkbox-danger float-l padding-r-20">
                                    <input id="reminder" checked type="checkbox">
                                    <label for="reminder">Herinner me op:</label>
                                </div>
                                <div class="form-group" ng-controller="DatePickerController as datePickerCtrl">
                                    <div class="input-prepend input-group">
                                        <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" id="date-picker" name="date-picker" class="form-control active" id="action-create" ng-model="newActionFormData.dateCreate">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label form-label">Upload bestanden</label>

                                <div class="col-sm-10 padding-r-0 padding-l-40">
                                    <input type="file" class="form-control border-none margin-b-20" nv-file-select="" uploader="uploader" multiple="">

                                    <div ng-show="uploader.isHTML5">
                                        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                        <div nv-file-drop="" uploader="uploader">
                                            <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                                                Sleep de bestanden hierheen
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{uploader.formData}}
                            </div>
                        </div>
                    </div>
                    <div class="row">


                        <div class="col-sm-12" style="margin-bottom: 40px">

                            <h3>Upload wachtrij</h3>

                            <p>Wachtrij lengte: {{ uploader.queue.length }}</p>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th width="50%">Naam</th>
                                        <th ng-show="uploader.isHTML5">Grootte</th>
                                        <th ng-show="uploader.isHTML5">Progress</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td><strong>{{ item.file.name }}</strong></td>
                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td ng-show="uploader.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
                                            <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
                                            <span ng-show="item.isError"><i class="fa fa-remove"></i></span>
                                        </td>
                                        <td nowrap>
                                            <!--<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">-->
                                            <!--<i class="fa fa-upload"></i> Upload-->
                                            <!--</button>-->
                                            <!--<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">-->
                                            <!--<i class="fa fa-ban"></i> Cancel-->
                                            <!--</button>-->
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                <i class="fa fa-trash"></i> Remove
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <div class="margin-t-30">
                                    Queue progress:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                    <i class="fa fa-upload"></i> Upload all
                                </button>
                                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                    <i class="fa fa-ban"></i> Cancel all
                                </button>
                                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                    <i class="fa fa-trash"></i> Remove all
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="lib/date-range-picker/daterangepicker.js"></script>


    <!--<script>
        $(document).on('change', '.btn-file :file', function () {

            var input = $(this), numFiles = input.get(0).files ? input.get(0).files.length : 1, label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready(function () {
            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'), log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) input.val(log);
                else if (log) alert(log);
            });
        });
    </script>-->
</form>