<div class="page-header">
    <h1 class="title">Nieuwe actie</h1>
    <ol class="breadcrumb">
        <li><a href="#/acties">Acties</a></li>
        <li class="active">Nieuwe actie</li>
    </ol>
    <div class="right">
        <div class="btn-group small-control-mr" role="group" aria-label="...">
            <button type="submit" class="btn btn-light"><i class="fa fa-save"></i>Opslaan</button>
        </div>
    </div>
</div>

<div class="container-default">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-7">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div ng-controller="TypeaheadController as typeaheadCtrl">
                                <label for="companyname" class="col-sm-2 control-label form-label">Bedrijfsnaam</label>

                                <div class="col-sm-10">
                                    <input id="companyname" type="text" ng-model="selectedCompany" typeahead="customer as customer.Info.name for customer in customers | filter:$viewValue | limitTo:8" class="form-control"><br>
                                    {{selectedCompany.Info.id}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label form-label">Type actie</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone" name="phone" ng-model="customerFormData.Info.phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label form-label">Omschrijving</label>

                            <div class="col-sm-10">
                                <textarea id="description" class="form-control" name="" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-light btn-file">
                                Bestanden toevoegen&hellip; <input type="file" multiple on-change="addFile()">
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>

                    <div class="form-group">
                        <div class="checkbox checkbox-danger float-l padding-r-20">
                            <input id="reminder" checked type="checkbox">
                            <label for="reminder">Herinner me op:</label>
                        </div>
                        <div class="form-group" ng-controller="DatePickerController as datePickerCtrl">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" id="date-picker" name="date-picker" class="form-control active" id="customer-create" ng-model="customerFormData.Info.dateCreate" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="lib/date-range-picker/daterangepicker.js"></script>


<script>
    $(document).on('change', '.btn-file :file', function () {
        var input = $(this), numFiles = input.get(0).files ? input.get(0).files.length : 1, label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });

    $(document).ready(function () {
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'), log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) input.val(log);
            else if (log) alert(log);
        });
    });
</script>