<div class="col-sm-6">

    <div>
        <div class="width-125 float-l f-bold">Type actie</div>
        <div>{{action.type}}</div>
    </div>
    <div>
        <div class="width-125 float-l f-bold">Aanmaakdatum</div>
        <div>{{action.date_create}}</div>
    </div>
    <div>
        <label>Omschrijving</label>

        <p class="padding-l-40">{{action.name}}</p>
    </div>
</div>

<div class="col-sm-6">
    <div ng-if="action.reminder == 'Y'">
        <label class="color10">Herinnering</label>

        <p class="color10 padding-l-40">U wordt herinnerd op: {{action.date_reminder | DateFilter}}</p>
    </div>
    <div ng-if="selectedAttachments.length > 0">
        <label>Bijlagen</label>


        <!-- show or download file ? -->
        <div>
            <ul class="no-bullet">
                <div ng-if="selectedAttachment.actions_id == action.actions_id && selectedAttachment.subactions_id == action.sub_id" ng-init="ext = selectedAttachment.name.split('.').pop().toLowerCase()" ng-repeat="selectedAttachment in selectedAttachments">
                    <!-- show file -->
                    <li ng-if="modalFiles.indexOf(ext) > -1" class="padding-0">
                        <a download href="/_userfiles/{{action.customers_id + '/' + selectedAttachment.name}}"><span class="icon"><i class="fa fa-download"></i></span></a>
                        <a ng-click="openModal(selectedAttachment.name)" href="">{{selectedAttachment.name}}</a>
                    </li>

                    <!-- download file -->
                    <li ng-if="modalFiles.indexOf(ext) <= -1" class="padding-0">
                        <a download href="/_userfiles/{{action.customers_id + '/' + selectedAttachment.name}}"><span class="icon"><i class="fa fa-download"></i></span></a>
                        <a download href="/_userfiles/{{action.customers_id + '/' + selectedAttachment.name}}">{{selectedAttachment.name}}</a>
                    </li>
                </div>
            </ul>

        </div>
    </div>
</div>
