<div id="wrapper" ng-controller="DetailsCustomerController as detailsCustomerCtrl">
    <div class="page-header">
        <h1 class="title">Details klant</h1>
        <ol class="breadcrumb">
            <li><a href="#/klanten">Klanten</a></li>
            <li class="active">{{selectedCustomer.name}}</li>
        </ol>

        <div class="right">
            <div class="btn-group small-control-mr" role="group" aria-label="...">
                <a href="#/klanten/bewerken/{{selectedCustomer.id}}" class="btn btn-light"><i class="fa fa-pencil"></i>Bewerken</a>
            </div>
        </div>
    </div>

    <div class="container-default">
        <!-- START CONTAINER -->

        <div class="panel padding-0">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs font-title-tab" role="tablist">
                    <li role="presentation" class="active"><a href="" ng-click="detailsCustomerCtrl.setTab(1)" aria-controls="gegevens" role="tab" data-toggle="tab">Gegevens</a></li>
                    <li role="presentation"><a href="" ng-click="detailsCustomerCtrl.setTab(2)" aria-controls="offertes" role="tab" data-toggle="tab">Offertes</a></li>
                    <li role="presentation"><a href="" ng-click="detailsCustomerCtrl.setTab(3)" aria-controls="acties" role="tab" data-toggle="tab">Acties</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div ng-class="{active: detailsCustomerCtrl.checkTab(1)}" role="tabpanel" class="tab-pane active clearfix">
                        <div class="col-md-6 padding-0">
                            <div class="panel panel-default">
                                <div class="panel-title"><h3>{{selectedCustomer.name}}</h3></div>
                                <div>
                                    <div><i class="fa fa-group padding-r-5 width-25"></i>{{selectedCustomer.customertypes_name}}</div>
                                    <div>
                                        <span class="f-bold padding-r-10 width-25 display-inline-block">% </span>
                                        <span ng-if="selectedCustomer.vat">{{selectedCustomer.vat}}</span>
                                        <span ng-if="!selectedCustomer.vat" class="f-bold"> /</span>
                                    </div>
                                    <div ng-if="selectedCustomer.phone"><i class="fa fa-phone padding-r-5 width-25"></i>{{selectedCustomer.phone}}</div>
                                    <div ng-if="selectedCustomer.email"><i class="fa fa-envelope padding-r-5 width-25"></i><a ng-href="mailto:{{selectedCustomer.email}}">{{selectedCustomer.email}}</a></div>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="panel-subtitle">Facturatieadres</div>
                                            <div>{{selectedCustomer.billing_street}}</div>
                                            <div>{{selectedCustomer.billing_zipcode}} {{selectedCustomer.billing_city}}</div>
                                            <div>{{selectedCustomer.billing_county}}</div>
                                            <div>{{selectedCustomer.billing_country}}</div>

                                            <div ng-if="selectedCustomer.office_street" class="panel-subtitle">Kantooradres</div>
                                            <div>{{selectedCustomer.office_street}}</div>
                                            <div>{{selectedCustomer.office_zipcode}} {{selectedCustomer.office_city}}</div>
                                            <div>{{selectedCustomer.office_county}}</div>
                                            <div>{{selectedCustomer.office_country}}</div>
                                        </li>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="panel-subtitle">Extra gegevens</div>
                                            <div>
                                                <span ng-if="selectedCustomer.active"><i class="fa fa-check color7 padding-r-5"></i> ACTIEF</span>
                                                <span ng-if="!selectedCustomer.active"><i class="fa fa-times color10"></i> NIET ACTIEF</span>
                                            </div>
                                            <div><i class="fa fa-clock-o padding-r-5"></i> Klant sinds: {{selectedCustomer.date_active}}</div>
                                            <div class="padding-l-20">Aanmakdatum: {{selectedCustomer.date_create}}</div>
                                            <div class="padding-l-20">Laatst gewijzigd: {{selectedCustomer.date_edit}}</div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="panel-subtitle">Tags</div>
                                            <div ng-if="selectedTags" ng-repeat="tag in selectedTags">
                                                <span class="badge">{{tag.name}} <i class="fa fa-time"></i></span>
                                            </div>
                                            <div ng-if="!selectedTags">
                                                Nog geen tags toegevoegd
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-title">Contactpersonen</div>
                                <div class="panel-body">
                                    <div>
                                        <ul class="list-group">
                                            <li ng-repeat="contact in selectedContacts" class="list-group-item">
                                                <b><i class="fa fa-user padding-r-5 width-25"></i>{{contact.firstname + " " + contact.lastname}} <span ng-if="contact.title">({{contact.title}})</span></b>

                                                <div ng-if="contact.phone"><i class="fa fa-phone padding-r-5 width-25"></i>{{contact.phone}}</div>
                                                <div ng-if="contact.mobile"><i class="fa fa-mobile-phone padding-r-5 width-25"></i>{{contact.mobile}}</div>
                                                <div ng-if="contact.email"><i class="fa fa-envelope padding-r-5 width-25"></i><a ng-href="mailto:{{contact.email}}">{{contact.email}}</a></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-class="{active: detailsCustomerCtrl.checkTab(2)}" role="tabpanel" class="tab-pane">
                        <div class="float-r">
                            <div class="input-prepend input-group small-control-w small-control-mr float-l">
                                <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" id="date-range-picker" class="form-control" value="03/18/2015 - 03/23/2015"/>
                            </div>
                            <div class="input-group small-control-w small-control-mr">
                                <input type="text" ng-model="searchOffer" class="form-control smallSearch ng-pristine ng-valid ng-touched" placeholder="Search">

                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            </div>
                        </div>
                        <ul class="basic-list fc-clear" ng-controller="OfferController as offerCtrl">
                            <li ng-repeat="offer in offers | orderBy:'-date' | filter:searchOffer">
                                <b>{{offer.name}}</b>
                                <span class="desc">({{offer.date_create | date:'dd/MM/yyyy'}} - € {{offer.totalprice}})</span>
                            </li>
                        </ul>
                    </div>
                    <div ng-class="{active: detailsCustomerCtrl.checkTab(3)}" role="tabpanel" class="tab-pane" id="acties">
                        <div class="float-r">
                            <div class="input-group small-control-w small-control-mr">
                                <input type="text" ng-model="searchAction" class="form-control smallSearch ng-pristine ng-valid ng-touched" placeholder="Search">

                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            </div>
                        </div>
                        <div class="fc-clear">

                            <p>Duis ac enim diam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTAINER -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
    </div>
</div>