<div class="form-horizontal" ng-form>
    <div class="panel-subtitle float-l">Kantooradres</div>
    <div ng-click="showOfficeAddress = false; selectedCustomer.office_street = null;" class="btnClose float-r margin-t-5 padding-10">
        <i class="fa fa-close"></i>
    </div>
    <div class="form-group fc-clear" ng-class="{'has-error' : (newCustomerForm.officeStreet.$dirty && newCustomerForm.officeStreet.$invalid) || (newCustomerForm.officeStreet.$touched && newCustomerForm.officeStreet.$invalid) || (newCustomerForm.officeStreet.$invalid && submit)}">
        <label for="office-address" class="col-sm-2 control-label form-label">Adres</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="office-address" name="officeStreet" value="{{selectedCustomer.office_street}}" ng-model="customerFormData.Info.officeStreet">
        </div>
    </div>
    <div class="form-group">
        <label for="office-zipcode" class="col-sm-2 control-label form-label">Postcode</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="office-zipcode" name="office-zipcode" value="{{selectedCustomer.office_zipcode}}" ng-model="customerFormData.Info.officeZipcode">
        </div>
    </div>
    <div class="form-group">
        <label for="office-city" class="col-sm-2 control-label form-label">Gemeente</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="office-city" name="office-city" value="{{selectedCustomer.office_city}}" ng-model="customerFormData.Info.officeCity">
        </div>
    </div>
    <div class="form-group">
        <label for="office-country" class="col-sm-2 control-label form-label">Land</label>
        <div class="col-sm-10">
            <ol id="office-country" ng-change="customerFormData.Info.officeCounty = null" name="office-country" class="nya-bs-select col-sm-12 col-xs-12" ng-model="customerFormData.Info.officeCountry" data-live-search="true">
                <li class="nya-bs-option" data-value="België"><a>België</a></li>
                <li class="nya-bs-option" data-value="Nederland"><a>Nederland</a></li>
                <li class="nya-bs-option" data-value="Frankrijk"><a>Frankrijk</a></li>
                <li class="nya-bs-option" data-value="Duitsland"><a>Duitsland</a></li>
                <li class="nya-bs-option" data-value="Groot-Britannië"><a>Groot-Britannië</a></li>
            </ol>
        </div>
    </div>
    <div class="form-group" ng-show="customerFormData.Info.officeCountry === 'België'">
        <label for="office-county" class="col-sm-2 control-label form-label">Provincie</label>

        <div class="col-sm-10">
            <ol id="office-county" name="office-county" class="nya-bs-select col-sm-12 col-xs-12" ng-model="customerFormData.Info.officeCounty" data-live-search="true">
                <li class="nya-bs-option" data-value="Antwerpen"><a>Antwerpen</a></li>
                <li class="nya-bs-option" data-value="Henegouwen"><a>Henegouwen</a></li>
                <li class="nya-bs-option" data-value="Limburg"><a>Limburg</a></li>
                <li class="nya-bs-option" data-value="Luik"><a>Luik</a></li>
                <li class="nya-bs-option" data-value="Namen"><a>Namen</a></li>
                <li class="nya-bs-option" data-value="Oost-Vlaanderen"><a>Oost-Vlaandern</a></li>
                <li class="nya-bs-option" data-value="Vlaams-Brabant"><a>Vlaams-Brabant</a></li>
                <li class="nya-bs-option" data-value="Waals-Brabant"><a>Waals-Brabant</a></li>
                <li class="nya-bs-option" data-value="West-Vlaanderen"><a>West-Vlaanderen</a></li>
            </ol>
        </div>
    </div>
</div>
