<div class="page-header">
    <h1 class="title">Details offerte</h1>
    <ol class="breadcrumb">
        <li><a href="klanten.html">Klanten</a></li>
        <li><a href="#">in2red</a></li>
        <li><a href="#">Offertes</a></li>
        <li class="active">Drukwerk</li>
    </ol>

    <div class="right">
        <div class="btn-group small-control-mr" role="group" aria-label="...">
            <a href="#offerte/bewerken" class="btn btn-light"><i class="fa fa-pencil"></i>Bewerken</a>
        </div>
    </div>
</div>

<div class="container-default">
    <div class="col-md-12">
        <div class="invoice row">
            <div class="invoicename">OFFERTE</div>
            <div class="logo">
                <b>in2red</b>

                <div>Haighlaan 5, 8900 Ieper</div>
                <div>West-Vlaanderen, België</div>
            </div>


            <div class="line row">
                <div class="col-md-6 col-xs-6 padding-0 text-left">
                    <h4>ONDERWERP</h4>

                    <h2>Drukwerk</h2>
                    <h4 class="padding-t-40">BERICHT</h4>

                    <div class="padding-b-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum, voluptatibus. Cumque exercitationem in quod. Hic non, odit? Amet asperiores consequatur, dicta maxime nesciunt officia omnis quo tempora unde ut?</div>
                </div>
                <div class="col-md-6 col-xs-6 padding-0 text-right">
                    <h4>DATUM</h4>

                    <h2>15/08/2015</h2>
                </div>
            </div>


            <table class="table">
                <thead class="title">
                <tr>
                    <td>Omschrijving</td>
                    <td>Uren</td>
                    <td>RATE PER HOUR</td>
                    <td class="text-right">Totaal</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Ipad Application Design <p>Designed an app learning colors<br>for children</p></td>
                    <td>20</td>
                    <td>€ 90,00</td>
                    <td class="text-right">€ 1.000,00</td>
                </tr>
                <tr>
                    <td>Logo Design <p>Designed a logo for happy company</p></td>
                    <td>10</td>
                    <td>€ 50,00</td>
                    <td class="text-right">€ 500,00</td>
                </tr>
                <tr>
                    <td>iOS Application <p>Designed an iOs app for iPhone</p></td>
                    <td>40</td>
                    <td>€ 50,00</td>
                    <td class="text-right">€ 2.000,00</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="text-right">
                        <div>Totaal (excl. BTW):</div>
                        <div>BTW (21%)</div>
                    </td>
                    <td class="text-right">
                        <h6 class="total">€ 4.000,00</h6>
                        <h6 class="total">€ 480,00</h6>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right">TOTAL<h4 class="total">$ 4.480,00</h4></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>