<div class="sidebar sidebar-colorful clearfix">

    <ul class="sidebar-panel nav">
        <li class="sidetitle">MENU</li>
        <li><a href="#/"><span class="icon color6"><i class="fa fa-home"></i></span>Dashboard</a></li>
        <li><a href="#/klanten"><span class="icon color3"><i class="fa fa-users"></i></span>Klanten</a></li>
        <li><a href="#/offertes"><span class="icon color7"><i class="fa fa-file-text-o"></i></span>Offertes</a></li>
        <li ng-controller="ActionController"><a href="#/acties"><span class="icon color5"><i class="fa fa-bell"></i></span>Acties<span class="label label-default">{{actions.length}}</span></a></li>
    </ul>
</div>