<div class="sidebar clearfix">

    <ul class="sidebar-panel nav">
        <li class="sidetitle">MENU</li>
        <li><a href="#/"><span class="icon"><i class="fa fa-home"></i></span>Dashboard</a></li>
        <li><a href="#/klanten"><span class="icon"><i class="fa fa-users"></i></span>Klanten</a></li>
        <li><a href="#/offertes"><span class="icon"><i class="fa fa-file-text-o"></i></span>Offertes</a></li>
        <li><a href="#/acties"><span class="icon"><i class="fa fa-bell"></i></span>Acties<span class="label label-default">0</span></a></li>
    </ul>
</div>