<form name="newSubactionForm" ng-submit="newSubactionForm.$valid && uploadAndSubmitForm()" novalidate>
    <div class="page-header">
        <h1 class="title">Nieuwe vervolgactie</h1>
        <ol class="breadcrumb">
            <li><a href="#/acties">Acties</a></li>
            <li class="active">Nieuwe actie</li>
        </ol>
        <div class="right">
            <div class="btn-group small-control-mr" role="group" aria-label="...">
                <button ng-click="submit = true" type="submit" class="btn btn-light"><i class="fa fa-save"></i>Opslaan</button>
            </div>
        </div>
    </div>

    <div class="container-default">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row color4-bg padding-20 margin-0 margin-b-30" ng-controller="DetailsActionController">
                        <one-action selected-attachments="selectedActionAttachments" action="selectedAction.Info"></one-action>
                        <modal></modal>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-horizontal">
                            <div class="form-group" ng-class="{'has-error' : (newSubactionForm.type.$dirty && newSubactionForm.type.$invalid) || (newSubactionForm.type.$touched && newSubactionForm.type.$invalid) || (newSubactionForm.type.$invalid && submit)}">
                                <label for="type" class="col-sm-2 control-label form-label">Type vervolgactie</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="type" name="type" ng-model="newSubactionFormData.type" required>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : (newSubactionForm.name.$dirty && newSubactionForm.name.$invalid) || (newSubactionForm.name.$touched && newSubactionForm.name.$invalid) || (newSubactionForm.name.$invalid && submit)}">
                                <label for="name" class="col-sm-2 control-label form-label">Omschrijving</label>

                                <div class="col-sm-10">
                                    <textarea id="name" name="name" class="form-control disable-width-resize" rows="5" ng-model="newSubactionFormData.name" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <checkbox ng-model="newSubactionFormData.reminder" ng-true-value="Y" ng-false-value="N" ng-change="onCheckChange(reminder)" name="reminder" id="reminder" class="btn-danger float-l margin-t-5"></checkbox>
                                <div for="reminder" class="float-l margin-r-20 padding-l-10 margin-t-5">Herinner me op:</div>

                                <div class="form-group fc-clear padding-t-10" ng-controller="DatePickerController as datePickerCtrl" ng-class="{'has-error' : (newSubactionFormData.datePicker.$dirty && newSubactionFormData.datePicker.$invalid) || (newSubactionFormData.datePicker.$touched && newSubactionFormData.datePicker.$invalid) || (newSubactionFormData.datePicker.$invalid && submit)}">
                                    <div class="input-prepend input-group" ng-show="!reminder">
                                        <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" id="date-picker" name="datePicker" class="form-control active" id="action-create" ng-model="newSubactionFormData.dateCreate">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label form-label">Upload bestanden</label>

                                <div class="col-sm-10 padding-r-0 padding-l-40">
                                    <input type="file" class="form-control border-none margin-b-20" nv-file-select="" uploader="uploader" multiple="">

                                    <div ng-show="uploader.isHTML5">
                                        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                        <div nv-file-drop="" uploader="uploader">
                                            <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                                                Sleep de bestanden hierheen
                                            </div>
                                        </div>
                                    </div>
                                    <span class="color10" ng-show="uploader.queue.length >= 10"><i class="fa fa-exclamation-triangle"></i> Er kunnen maximaal 10 bestanden in 1 keer upgeload worden.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">


                        <div class="col-sm-12" style="margin-bottom: 40px">

                            <!--<h3>Upload wachtrij</h3>-->

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th width="50%">Naam</th>
                                        <th ng-show="uploader.isHTML5">Grootte</th>
                                        <th ng-show="uploader.isHTML5">Progress</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td><strong>{{ item.file.name }}</strong></td>
                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td ng-show="uploader.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
                                            <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
                                            <span ng-show="item.isError"><i class="fa fa-remove"></i></span>
                                        </td>
                                        <td nowrap>
                                            <!--<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">-->
                                            <!--<i class="fa fa-upload"></i> Upload-->
                                            <!--</button>-->
                                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                <i class="fa fa-ban"></i> Annuleer
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                <i class="fa fa-trash"></i> Verwijder
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <div class="margin-t-30">
                                    <p class="float-r" ng-class="{'color10' : uploader.queue.length >= 10}">Wachtrij lengte: {{ uploader.queue.length }}</p>

                                    <p>Queue progress:</p>

                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <!--<button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">-->
                                <!--<i class="fa fa-upload"></i> Upload all-->
                                <!--</button>-->
                                <div class="float-r">
                                    <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                        <i class="fa fa-ban"></i> Annuleer alles
                                    </button>
                                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                        <i class="fa fa-trash"></i> Verwijder alles
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<pre>
    {{newSubactionFormData}}
</pre>

<script src="lib/date-range-picker/daterangepicker.js"></script>

